
<div class="container-fluid">
  <div class="row">
    <h1>Best Burgers!</h1>
    <div class="col-md-6">
      <h2>Burgers to be devoured!</h2>
      <ul>
        {{#each burgers}}
          <li>
            <p>
              {{this.burger_name}}

              <button data-burgerid="{{this.id}}" class="devBurger">Devour!</button>
            </p>
          </li>
        {{/each}}
      </ul>
    </div>

    <div class="col-md-6">
      <h2>Devoured Burgers!</h2>
      <ul>
        {{#each devouredBurgers}}
          <li>
            <p>
              {{this.burger_name}}
            </p>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <form>
        <textarea type="text" name="burger" id="newBurger"></textarea>
        <button type="submit" id="submit">Add Burger</button>
      </form>

      <p>Add a burger you want to eat and hit the submit button</p>
    </div>
  </div>

</div>



